@import "tailwindcss";
@import "../public/assets/form.css";
@import "../public/assets/components.css";
@import "../public/assets/fonts.css";

@theme {
  --font-default: 'Montserrat', sans-serif;
  --font-default-thin: 'Montserrat Thin', sans-serif;
  --font-default-extralight: 'Montserrat ExtraLight', sans-serif;
  --font-default-light: 'Montserrat Light', sans-serif;
  --font-default-medium: 'Montserrat Medium', sans-serif;
  --font-default-semibold: 'Montserrat SemiBold', sans-serif;
  --font-default-bold: 'Montserrat Bold', sans-serif;
  --font-default-black: 'Montserrat Black', sans-serif;

  --color-bleu: #000066;
  --color-orange: #FC6E11;
  --color-orange2: #ee6307;

  --breakpoint-s: 500px;
}

html, body {
  @apply font-default;
}